@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purplish-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-strawberry-red: hsl(354, 84%, 57%);
  --neutral-cool-gray: hsl(231, 11%, 63%);
  --neutral-light-gray: hsl(229, 24%, 87%);
  --neutral-magnolia: hsl(217, 100%, 97%);
  --neutral-alabaster: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 0%, 100%);
}

html,
body {
  background-color: var(--neutral-magnolia);
  font-family: "Ubuntu", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 55rem;
  height: 35rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  border-radius: 0.7rem;
  position: relative;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.main .steps {
  position: relative;
  margin-left: 0.3rem;
  border-radius: 0.7rem;
  background: url("../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: center;
  margin: 1rem;
}

.steps .options {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.steps .options .option {
  display: flex;
  gap: 1rem;
}

.steps .options .option .number {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--neutral-white);
  border-radius: 1rem;
  color: var(--neutral-white);
  text-align: center;
  line-height: 1.7rem;
  user-select: none;
}

.steps .options .option .number.active {
  background-color: var(--neutral-magnolia);
  color: var(--primary-marine-blue);
  transition: all 0.1s ease-in;
}

.steps .options .option .step-content h5 {
  font-weight: 300;
  color: var(--neutral-cool-gray);
  user-select: none;
}
.steps .options .option .step-content h4 {
  color: var(--neutral-white);
  font-weight: 500;
  user-select: none;
}

.content {
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  transform: scale(95%);
  color: white;
}

.content .c-header {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.8rem;
}

.content .c-header h3 {
  font-size: 1.8rem;
  color: var(--primary-marine-blue);
}

.content .c-header p {
  color: var(--neutral-cool-gray);
  font-weight: 400;
}

/* Step 1 - Your Info - Start */

.content form {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.content form .input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content form .input label {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  font-size: 500;
}

.content form .input input {
  width: 27rem;
  height: 2.7rem;
  padding: 0 1rem;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 0.5rem;
  font-family: "Ubuntu";
  font-size: 700;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.content form .input input::placeholder {
  font-family: "Ubuntu";
  font-size: bold;
}
.content form .input input:focus {
  border: 1px solid var(--primary-purplish-blue);
}

.content form label {
  color: var(--primary-marine-blue);
}

.content form .input span {
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--primary-strawberry-red);
  position: absolute;
  right: 0;
  top: 0.5rem;
}
.input span.active {
  display: block !important;
}

/* Step 1 - Your Info - End */

/* Step 2 - Select Plan - Start */

.plans-container {
  display: none;
  flex-direction: column;
  gap: 2rem;
}

.plans {
  display: flex;
  color: black;
  gap: 1rem;
}

.plans .plan {
  width: 8.5rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.plans .plan:hover {
  border: 1px solid var(--primary-purplish-blue);
}

.plans .plan.active {
  border: 1px solid var(--primary-purplish-blue);
  background-color: var(--neutral-magnolia);
}

.plans .plan img {
  width: 2.3rem;
}

.plans .plan .caption {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.plans .plan h4 {
  color: var(--primary-marine-blue);
}

.plans .plan p {
  color: var(--neutral-cool-gray);
  font-size: 0.9rem;
}

.plans .plan span {
  display: none;
  color: var(--primary-marine-blue);
  font-size: 0.8rem;
}

.plans .plan span.active {
  display: block;
}

.yearly {
  height: 2.5rem;
  background-color: var(--neutral-magnolia);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-cool-gray);
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
  gap: 1rem;
}

/* .yearly .m {
    color: var(--primary-marine-blue);
} */

.y.active {
  transition: all 0.3s ease-in-out;
  color: var(--primary-marine-blue);
}

.m.active {
  transition: all 0.3s ease-in-out;
  color: var(--primary-marine-blue);
}

.yearly input {
  width: 2.5rem;
  height: 0.8rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-appearance: inherit;
}

.yearly input::before {
  content: "";
  width: 2.5rem;
  height: 1.2rem;
  border-radius: 1rem;
  position: absolute;
  background-color: var(--primary-marine-blue);
  z-index: 1;
}

.yearly input::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  background-color: white;
  border-radius: 1rem;
  top: 0.2rem;
  left: 0.2rem;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
.yearly input:checked::after {
  left: 1.5rem;
  transition: all 0.3s ease-in-out;
}

/* Step 2 - Select Plan - End */

/* Step 3 - Pick add-ons - Start */

.add-ons-container {
  width: 75%;
  display: none;
}

.add-ons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-ons .add-on {
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.add-ons .add-on .add-on-caption input {
  width: 1.1rem;
  cursor: pointer;
}

.add-ons .add-on.active {
  border: 1px solid var(--primary-purplish-blue);
  background-color: var(--neutral-magnolia);
}

.add-ons .add-on .add-on-caption {
  display: flex;
  gap: 1.5rem;
}

.add-ons .add-on h4 {
  color: var(--primary-marine-blue);
  cursor: pointer;
}
.add-ons .add-on p {
  color: var(--neutral-cool-gray);

  cursor: pointer;
}

.add-ons .add-on .add-on-price {
  color: var(--primary-purplish-blue);
}

/* Step 3 - Pick add-ons - End */

/* Step 4 - Pick Finishing up - Start */

.finish-container {
  width: 75%;
  display: none;
}

.finish {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.finish .add-ons-and-plans {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--neutral-magnolia);
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  gap: 1rem;
}

.finish .add-ons-and-plans .finish-plan {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--neutral-light-gray);
  padding-bottom: 1rem;
}

.finish .add-ons-and-plans .finish-plan span {
  font-weight: 700;
  line-height: 3;
  color: var(--primary-marine-blue);
}

.finish .add-ons-and-plans .finish-plan-caption {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--primary-marine-blue);
}

.finish .add-ons-and-plans .finish-plan-caption a {
  font-size: 0.85rem;
}

.finish .add-ons-and-plans .finish-add-ons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 0.85rem;
}
.finish .add-ons-and-plans .finish-add-ons .finish-add-on {
  display: flex;
  justify-content: space-between;
}

.finish .add-ons-and-plans .finish-add-ons .finish-add-on span:first-child {
  color: var(--neutral-cool-gray);
}
.finish .add-ons-and-plans .finish-add-ons .finish-add-on span:last-child {
  color: var(--primary-marine-blue);
  font-weight: 500;
}

.finish .finish-total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.finish .finish-total-price span:first-child {
  color: var(--neutral-cool-gray);
  font-size: 0.8rem;
}

.finish .finish-total-price span:last-child {
  color: var(--primary-purplish-blue);
  font-weight: 700;
  font-size: 1.2rem;
}

/* Step 4 - Pick Finishing up - End */

/* Confirm - Start */

.confirm-container {
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.confirm-container h4 {
  color: var(--primary-marine-blue);
  font-size: 2.2rem;
}

.confirm-container p {
  width: 75%;
  text-align: center;
  color: var(--neutral-cool-gray);
}

/* Confirm - End */

/* Buttons - Start */

.btns {
  width: 100%;
  height: 2.7rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-around;
  font-family: "Ubuntu";
  position: absolute;
  left: 9.5rem;
  bottom: 2rem;
}

.btns .next {
  display: block;
  width: 7rem;
  cursor: pointer;
  background-color: var(--primary-marine-blue);
  border: transparent;
  border-radius: 0.5rem;
  color: var(--neutral-white);
  font-weight: 700;
}

.btns .next:active {
  background-color: var(--primary-purplish-blue);
}

.btns .back {
  visibility: visible;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-marine-blue);
  font-weight: 700;
}

.btns .confirm {
  width: 7rem;
  cursor: pointer;
  background-color: var(--primary-marine-blue);
  border: transparent;
  border-radius: 0.5rem;
  color: var(--neutral-white);
  font-weight: 700;
  display: none;
}
.btns .confirm:active {
  background-color: var(--primary-purplish-blue);
}

.back.active {
  visibility: hidden;
}
.next.active {
  display: none;
}

.confirm.active {
  display: block;
}

/* Buttons - End */

.form-container.active {
  display: flex;
}

.plans-container.active {
  display: flex;
}

.add-ons-container.active {
  display: block;
}

.finish-container.active {
  display: block;
}

.confirm-container.active {
  display: flex;
}

@media screen and (max-width: 960px) {
  .container {
    position: relative;
    align-items: flex-start;
  }

  .main {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
  }

  .main .steps {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    background: url("../assets/images/bg-sidebar-mobile.svg");
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin: 0;
  }

  .steps .options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .steps .step-content {
    display: none;
  }

  .content {
    max-width: 20rem;

    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    position: absolute;
    gap: 1rem;
    top: 6rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  }

  .content .c-header {
    width: 100%;
    margin-bottom: 1rem;
  }

  .content .c-header p {
    max-width: 80%;
  }

  .content form {
    width: 100%;
    gap: 0.5rem;
  }

  .content form .input {
    width: 100%;
  }

  .content form .input input {
    max-width: 100%;
    height: 2.4rem;
    border-radius: 0.2rem;
  }

  .content form .input span {
    top: -0.4rem;
  }

  .plans-container {
    width: 100%;
    gap: 1.5rem;
  }

  .plans {
    flex-direction: column;

    gap: 0.8rem;
  }
  .plans .plan {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }

  .add-ons-container {
    width: 100%;
  }
  .add-ons .add-on {
    height: auto;
    min-height: 4.5rem;
    padding: 0.7rem;
  }

  .add-ons .add-on h4 {
    font-size: 0.8rem;
  }
  .add-ons .add-on p {
    font-size: 0.7rem;
  }

  .add-ons .add-on .add-on-price {
    font-size: 0.8rem;
  }

  .confirm-container p {
    word-wrap: break-word;
  }

  .btns {
    width: 100%;
    height: 4rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .btns .next {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.3rem;
  }
  .btns .confirm {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.3rem;
  }

  .add-ons .add-on .add-on-price {
    font-size: 0.8rem;
  }
  .finish-container {
    width: 100%;
  }
}

@media screen and (max-height: 500px) {
  .container {
    align-items: flex-start;
  }
}

@media screen and (max-width: 375px) {
  .content {
    width: 70%;
    gap: 0;
  }
  .plans .plan {
    padding: 0.5rem;
  }
  .plans .plan .caption {
    gap: 0.2rem;
  }

  .plans .plan img {
    width: 2rem;
  }

  .plans .plan .caption h4 {
    font-size: 0.8rem;
  }
  .plans .plan .caption p {
    font-size: 0.7rem;
  }
  .plans .plan .caption span {
    font-size: 0.7rem;
  }
  .content .c-header p {
    max-width: 90%;
  }
}
